In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd /content/drive/MyDrive/3oumara

/content/drive/MyDrive/3oumara

In [ ]:
!pwd

/content/drive/My Drive/3oumara/arabic-sentiment-analysis/arabic_tweets_json

In [ ]:
!git clone https://github.com/motazsaad/arabic-sentiment-analysis.git

Cloning into 'arabic-sentiment-analysis'...
remote: Enumerating objects: 296, done.
remote: Counting objects: 100% (8/8), done.
remote: Compressing objects: 100% (8/8), done.
remote: Total 296 (delta 0), reused 0 (delta 0), pack-reused 288
Receiving objects: 100% (296/296), 453.69 MiB | 20.29 MiB/s, done.
Resolving deltas: 100% (135/135), done.
Checking out files: 100% (83/83), done.

In [ ]:
%cd arabic-sentiment-analysis/arabic_tweets_json

/content/drive/MyDrive/3oumara/arabic-sentiment-analysis/arabic_tweets_json

In [ ]:
!unzip "./positive_tweets_arabic_20181207_300.zip" -d "./unzipped_dataset"

Archive:  ./positive_tweets_arabic_20181207_300.zip
  inflating: ./unzipped_dataset/positive_tweets_arabic_20181207_300.json

In [ ]:
import os,json

In [ ]:
path_to_json = './unzipped_dataset'
json_files = [pos_json for pos_json in os.listdir(path_to_json) if pos_json.endswith('.json')]
print(json_files)

['Arabic_tweets_negative_20190413.json', 'Arabic_tweets_positive_20190413.json', 'negative_tweets_arabic_20181206_1k.json', 'negative_tweets_arabic_20181207_100.json', 'negative_tweets_arabic_20181207_300.json', 'positive_tweets_arabic_20181206_1k.json', 'positive_tweets_arabic_20181206_4k.json', 'positive_tweets_arabic_20181207_100.json', 'positive_tweets_arabic_20181207_300.json']

In the next cell we have an example of reading the content of 1 json file and displaying ID of each tweet

In [ ]:
with open('Arabic_tweets_negative_20190413.json') as json_test:
    for line in json_test:
        json_text_test = json.loads(line)
        print(json_text_test['id'])
        print(index)

In [ ]:
with open('Arabic_tweets_negative_20190413.json') as json_test:
    for index, line in enumerate(json_test):
        json_text_test = json.loads(line)
        print(json_text_test['id'])
        print(index)

Here we create a dataframe from 1 json file, where we have ID,Text,createdAt

In [ ]:
import pandas as pd
import re

In [ ]:
df_test_one = pd.DataFrame(columns=['id', 'text', 'createdAt'])

In [ ]:
with open('Arabic_tweets_negative_20190413.json') as json_test:
    for index, line in enumerate(json_test):
        json_text_test = json.loads(line)
        id_test = json_text_test['id']
        text_test = json_text_test['text']
        created_at_test = json_text_test['created_at']
        
        df_test_one.loc[index] = [id_test,text_test,created_at_test]

In [ ]:
df_test_one

In [ ]:
tweets_df = pd.DataFrame(columns=['id', 'text', 'createdAt'])
tweet_count_total=0
for file_index, js in enumerate(json_files):
    tweet_count_per_file=0
    with open(os.path.join(path_to_json, js)) as json_file:
        print(f"Opened File {file_index}")
        for tweet_index, line in enumerate(json_file):
            tweet = json.loads(line)
            tweet_id = tweet['id']
            #here we do some cleaning for text, keeping only arabic letters and numbers and 1 whitespace
            tweet_text = re.sub(r'[^0-9\u0600-\u06ff\u0750-\u077f\ufb50-\ufbc1\ufbd3-\ufd3f\ufd50-\ufd8f\ufd50-\ufd8f\ufe70-\ufefc\uFDF0-\uFDFD- ]+', '', tweet['text'])
            tweet_created_at = tweet['created_at']
            
            tweets_df.loc[tweet_count_total] = [tweet_id,tweet_text,tweet_created_at]
            
            tweet_count_total+=1
            tweet_count_per_file+=1
        print(f"Tweet count for file {file_index} is  : {tweet_count_per_file} ")
        print(f"Total number of tweets : {tweet_count_total}")
        print(f"Ended file {file_index}\n ")
        index_current_file = tweet_count_total - tweet_count_per_file
        tweets_df.iloc[ index_current_file:tweet_count_total ,:].to_csv(''.join(["./unzipped_dataset/dataset_csv/",str(js), '_cleaned','.csv']))
        print("Wrote dataframe of file {file_index} to CSV")

        
tweets_df.to_csv('./unzipped_dataset/dataset_csv/tweets_drop_cols_cleaned_text.csv')

Opened File 0
Tweet count for file 0 is  : 40000
Total number of tweets : 40000
Ended file 0

Wrote dataframe of file {file_index} to CSV
Opened File 1
Tweet count for file 1 is  : 40000
Total number of tweets : 80000
Ended file 1

Wrote dataframe of file {file_index} to CSV
Opened File 2
Tweet count for file 2 is  : 30969
Total number of tweets : 110969
Ended file 2

Wrote dataframe of file {file_index} to CSV
Opened File 3
Tweet count for file 3 is  : 18041
Total number of tweets : 129010
Ended file 3

Wrote dataframe of file {file_index} to CSV
Opened File 4
Tweet count for file 4 is  : 14679
Total number of tweets : 143689
Ended file 4

Wrote dataframe of file {file_index} to CSV
Opened File 5
Tweet count for file 5 is  : 22988
Total number of tweets : 166677
Ended file 5

Wrote dataframe of file {file_index} to CSV
Opened File 6
Tweet count for file 6 is  : 44037
Total number of tweets : 210714
Ended file 6

Wrote dataframe of file {file_index} to CSV
Opened File 7
Tweet count for file 7 is  : 20357
Total number of tweets : 231071
Ended file 7

Wrote dataframe of file {file_index} to CSV
Opened File 8
Tweet count for file 8 is  : 6891
Total number of tweets : 237962
Ended file 8

Wrote dataframe of file {file_index} to CSV

FileNotFoundError: ignored

In [ ]:
tweets_df

                         id  ...                       createdAt
0       1116941759764992000  ...  Sat Apr 13 05:50:41 +0000 2019
1       1116941758300995584  ...  Sat Apr 13 05:50:41 +0000 2019
2       1116941764047273989  ...  Sat Apr 13 05:50:42 +0000 2019
3       1116941765305565184  ...  Sat Apr 13 05:50:43 +0000 2019
4       1116941765385310209  ...  Sat Apr 13 05:50:43 +0000 2019
...                     ...  ...                             ...
237957  1070871736558764034  ...  Fri Dec 07 02:44:52 +0000 2018
237958  1070871389639454720  ...  Fri Dec 07 02:43:29 +0000 2018
237959  1070870698418155520  ...  Fri Dec 07 02:40:44 +0000 2018
237960  1070870025802797056  ...  Fri Dec 07 02:38:04 +0000 2018
237961  1070869632666558464  ...  Fri Dec 07 02:36:30 +0000 2018

[237962 rows x 3 columns]

In [ ]:
tweets_df.to_csv('./unzipped_dataset/dataset_csv/tweets_drop_cols_cleaned_text.csv')