In [ ]:
import pandas as pd

In [ ]:
dataset = pd.read_csv("/content/df_classified_with_topics.csv" )
dataset.head()

   Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  ...  Minute Hour  Year
0           0             0               0  ...      58   14  2021
1           1             1               1  ...      11   19  2021
2           2             2               2  ...      55   18  2021
3           3             3               3  ...      46   18  2021
4           4             4               4  ...      23   18  2021

[5 rows x 26 columns]

In [ ]:
dataset.drop(columns=["Unnamed: 0","Unnamed: 0.1","Unnamed: 0.1.1","post_id",'time','likes','comments','shares','username','is_live','reaction_count','Like','Love','Wow','Sad','Angry','Care','Year'],inplace=True)

In [ ]:
dataset.head()

                                           post_text  ... Hour
0  1200 كاش للربح ايقاف مقابلة ليون مارسيليا التف...  ...   14
1                 اخماد حريق بنزل بالحمامات الشمالية  ...   19
2  يتجدد موعدكم مروىالمعموري الاثنين للجمعة ال19 ...  ...   18
3    تونس تستضيف فعالية صنع ليبيا لدعم شراكة البلدين  ...   18
4  نقترحو عليكم سلسلة تاريخية أنجح الأعمال الكوري...  ...   18

[5 rows x 8 columns]

In [ ]:
pd.get_dummies(dataset)

       Day  Month  Minute  ...  Weekday_Thursday  Weekday_Tuesday  Weekday_Wednesday
0       22     11      58  ...                 0                0                  0
1       22     11      11  ...                 0                0                  0
2       22     11      55  ...                 0                0                  0
3       22     11      46  ...                 0                0                  0
4       22     11      23  ...                 0                0                  0
...    ...    ...     ...  ...               ...              ...                ...
15361   27     11      15  ...                 0                0                  0
15362   27     11      15  ...                 0                0                  0
15363   27     11      15  ...                 0                0                  0
15364   27     11      15  ...                 0                0                  0
15365   27     11      15  ...                 0                0                  0

[15366 rows x 19735 columns]

In [ ]:
x = dataset[['Weekday','Day','Month','Minute','Hour']]
y= dataset['category']

In [ ]:
x.head()

  Weekday  Day  Month  Minute  Hour
0  Monday   22     11      58    14
1  Monday   22     11      11    19
2  Monday   22     11      55    18
3  Monday   22     11      46    18
4  Monday   22     11      23    18

In [ ]:
pd.get_dummies(x)

       Day  Month  Minute  ...  Weekday_Thursday  Weekday_Tuesday  Weekday_Wednesday
0       22     11      58  ...                 0                0                  0
1       22     11      11  ...                 0                0                  0
2       22     11      55  ...                 0                0                  0
3       22     11      46  ...                 0                0                  0
4       22     11      23  ...                 0                0                  0
...    ...    ...     ...  ...               ...              ...                ...
15361   27     11      15  ...                 0                0                  0
15362   27     11      15  ...                 0                0                  0
15363   27     11      15  ...                 0                0                  0
15364   27     11      15  ...                 0                0                  0
15365   27     11      15  ...                 0                0                  0

[15366 rows x 11 columns]

In [ ]:
y.head()

0    art-et-culture
1      faits-divers
2    art-et-culture
3         politique
4    art-et-culture
Name: category, dtype: object

In [ ]:
pd.get_dummies(y)

       art-et-culture  economie  faits-divers  ...  regions  societe  sport
0                   1         0             0  ...        0        0      0
1                   0         0             1  ...        0        0      0
2                   1         0             0  ...        0        0      0
3                   0         0             0  ...        0        0      0
4                   1         0             0  ...        0        0      0
...               ...       ...           ...  ...      ...      ...    ...
15361               0         0             0  ...        0        0      0
15362               1         0             0  ...        0        0      0
15363               1         0             0  ...        0        0      0
15364               0         0             0  ...        1        0      0
15365               1         0             0  ...        0        0      0

[15366 rows x 9 columns]

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
x_encoded =OneHotEncoder().fit_transform(x)

In [ ]:
x_encoded.data

array([1., 1., 1., ..., 1., 1., 1.])

In [ ]:
y.head()

0    art-et-culture
1      faits-divers
2    art-et-culture
3         politique
4    art-et-culture
Name: category, dtype: object

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_val,y_train,y_val=train_test_split(x_encoded,y,test_size=0.2,stratify=y,random_state=20)

In [ ]:
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
le = preprocessing.LabelEncoder()

In [ ]:
scaler = StandardScaler(with_mean=False)
scaler.fit_transform(X_train)
scaler.transform(X_val)

<3074x131 sparse matrix of type '<class 'numpy.float64'>'
	with 15370 stored elements in Compressed Sparse Row format>

In [ ]:
X_val.data

array([1., 1., 1., ..., 1., 1., 1.])

In [ ]:
from sklearn import neighbors
KNN_model=neighbors.KNeighborsClassifier(n_neighbors=1,n_jobs=-1)
KNN_model.fit(X_train,y_train)

KNeighborsClassifier(n_jobs=-1, n_neighbors=1)

In [ ]:
pred=KNN_model.predict(X_val)
print("Accuracy={}%".format((sum(y_val==pred)/y_val.shape[0])*100))

Accuracy=40.27325959661678%

In [ ]:
from sklearn import neighbors 
from sklearn.metrics import f1_score,confusion_matrix,roc_auc_score
f1_list=[]
k_list=[]
for k in range(1,10):
    clf=neighbors.KNeighborsClassifier(n_neighbors=k,n_jobs=-1)
    clf.fit(X_train,y_train)
    pred=clf.predict(X_val)
    f=f1_score(y_val,pred,average='macro')
    f1_list.append(f)
    k_list.append(k)

In [ ]:
best_f1_score=max(f1_list)
best_k=k_list[f1_list.index(best_f1_score)]        
print("Optimum K value=",best_k," with F1-Score=",best_f1_score)

Optimum K value= 1  with F1-Score= 0.2219121791889752

# Logistic Reg

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
import numpy as np
from sklearn.metrics import classification_report

##testModel function will take as input the model name, X: feature and y: label
#We automated the testing model part because it will save us time when testing multiple models such as
#LogisticRegression + SGDClassifier + MultinomialNB + RandomForestClassifier

def testModel(model,X_train,X_test,y_train, y_test):    
    model = model()
    model.fit(X_train,y_train)
    modelName = type(model).__name__
    pred=model.predict(X_test)
    print(modelName)
    print(classification_report(y_test,model.predict(X_test)))
    score=np.mean(cross_val_score(model, X, y, cv=5))

    return model,{"model":modelName,"score":score}

In [ ]:
from sklearn.linear_model import LogisticRegression
testModel(LogisticRegression,X_train,X_val,y_train,y_val)

LogisticRegression
                precision    recall  f1-score   support

art-et-culture       0.54      0.99      0.69      1640
      economie       0.00      0.00      0.00       180
  faits-divers       0.00      0.00      0.00        68
        medias       0.27      0.05      0.08        88
       orbites       0.00      0.00      0.00       234
     politique       0.00      0.00      0.00       171
       regions       0.00      0.00      0.00       190
       societe       0.00      0.00      0.00       215
         sport       0.35      0.05      0.09       288

      accuracy                           0.53      3074
     macro avg       0.13      0.12      0.10      3074
  weighted avg       0.33      0.53      0.38      3074

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
5 fits failed out of a total of 5.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 681, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py", line 1514, in fit
    accept_large_sparse=solver not in ["liblinear", "sag", "saga"],
  File "/usr/local/lib/python3.7/dist-packages/sklearn/base.py", line 576, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py", line 968, in check_X_y
    estimator=estimator,
  File "/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py", line 738, in check_array
    array = np.asarray(array, order=order, dtype=dtype)
  File "/usr/local/lib/python3.7/dist-packages/numpy/core/_asarray.py", line 83, in asarray
    return array(a, dtype, copy=False, order=order)
  File "/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py", line 1781, in __array__
    return np.asarray(self._values, dtype=dtype)
  File "/usr/local/lib/python3.7/dist-packages/numpy/core/_asarray.py", line 83, in asarray
    return array(a, dtype, copy=False, order=order)
ValueError: could not convert string to float: 'Tuesday'

--------------------------------------------------------------------------------
4 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 681, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py", line 1514, in fit
    accept_large_sparse=solver not in ["liblinear", "sag", "saga"],
  File "/usr/local/lib/python3.7/dist-packages/sklearn/base.py", line 576, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py", line 968, in check_X_y
    estimator=estimator,
  File "/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py", line 738, in check_array
    array = np.asarray(array, order=order, dtype=dtype)
  File "/usr/local/lib/python3.7/dist-packages/numpy/core/_asarray.py", line 83, in asarray
    return array(a, dtype, copy=False, order=order)
  File "/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py", line 1781, in __array__
    return np.asarray(self._values, dtype=dtype)
  File "/usr/local/lib/python3.7/dist-packages/numpy/core/_asarray.py", line 83, in asarray
    return array(a, dtype, copy=False, order=order)
ValueError: could not convert string to float: 'Monday'

  warnings.warn(some_fits_failed_message, FitFailedWarning)

(LogisticRegression(), {'model': 'LogisticRegression', 'score': nan})

In [ ]:
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = LogisticRegression(penalty='l2',C=10,max_iter=400,solver='lbfgs',verbose=3)
model.fit(X_train,y_train)
pred=model.predict(X_val)
print(classification_report(y_val,model.predict(X_val)))
score=np.mean(cross_val_score(model, x, y, cv=5))
print(score)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

                precision    recall  f1-score   support

art-et-culture       0.54      0.98      0.70      1640
      economie       0.00      0.00      0.00       180
  faits-divers       0.00      0.00      0.00        68
        medias       0.30      0.08      0.13        88
       orbites       0.00      0.00      0.00       234
     politique       0.00      0.00      0.00       171
       regions       0.00      0.00      0.00       190
       societe       0.00      0.00      0.00       215
         sport       0.37      0.06      0.10       288

      accuracy                           0.53      3074
     macro avg       0.13      0.12      0.10      3074
  weighted avg       0.33      0.53      0.38      3074

nan

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    5.6s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    5.6s finished
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
5 fits failed out of a total of 5.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 681, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py", line 1514, in fit
    accept_large_sparse=solver not in ["liblinear", "sag", "saga"],
  File "/usr/local/lib/python3.7/dist-packages/sklearn/base.py", line 576, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py", line 968, in check_X_y
    estimator=estimator,
  File "/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py", line 738, in check_array
    array = np.asarray(array, order=order, dtype=dtype)
  File "/usr/local/lib/python3.7/dist-packages/numpy/core/_asarray.py", line 83, in asarray
    return array(a, dtype, copy=False, order=order)
  File "/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py", line 1781, in __array__
    return np.asarray(self._values, dtype=dtype)
  File "/usr/local/lib/python3.7/dist-packages/numpy/core/_asarray.py", line 83, in asarray
    return array(a, dtype, copy=False, order=order)
ValueError: could not convert string to float: 'Tuesday'

--------------------------------------------------------------------------------
4 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 681, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py", line 1514, in fit
    accept_large_sparse=solver not in ["liblinear", "sag", "saga"],
  File "/usr/local/lib/python3.7/dist-packages/sklearn/base.py", line 576, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py", line 968, in check_X_y
    estimator=estimator,
  File "/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py", line 738, in check_array
    array = np.asarray(array, order=order, dtype=dtype)
  File "/usr/local/lib/python3.7/dist-packages/numpy/core/_asarray.py", line 83, in asarray
    return array(a, dtype, copy=False, order=order)
  File "/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py", line 1781, in __array__
    return np.asarray(self._values, dtype=dtype)
  File "/usr/local/lib/python3.7/dist-packages/numpy/core/_asarray.py", line 83, in asarray
    return array(a, dtype, copy=False, order=order)
ValueError: could not convert string to float: 'Monday'

  warnings.warn(some_fits_failed_message, FitFailedWarning)